.form {
    color: var(--color-tertiary);

    margin: 0 2rem;
    padding: 1rem;
}

.label {
    display: block;

    font-weight: bold;
    margin: 0.5rem 0;
    font-size: 1.2rem;
}

.input {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);
    
    padding: 0.5rem;
    
    border-radius: 0.5rem;
    border: solid var(--color-tertiary);

    font-size: 1.2rem;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.input::placeholder {
    color: var(--color-tertiary);
    font-size: 1rem;
}

.button {
    color: var(--color-tertiary);
    background-color: var(--color-secondary);

    margin: 1rem;
    padding: 1rem;
    font: var(--font-primary);

    border: solid var(--color-tertiary);
    border-radius: 10px;
}

.divCadastroSucesso {
    display: none;
}